.Root
  overflow: hidden
  max-height: 100vh
  background: var(--tg-theme-secondary-bg-color)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.Content
  width: 100%
  height: calc(100vh - 60px)

.Menu
  width: 100%
  height: 60px
  display: flex

.Button
  width: 100%
  padding: 12px
  color: var(--tg-theme-button-text-color)
  border: none
  border-top-left-radius: 12px
  border-top-right-radius: 12px
  opacity: 0.5
  background: var(--tg-theme-button-color)

  &Active
    opacity: 1