.Root
  padding: 24px
  height: 100vh
  background: var(--tg-theme-bg-color)
  display: flex
  justify-content: center
  align-items: center

.Button
  padding: 12px 24px
  font-size: 20px
  border: none
  border-radius: 12px
  color: var(--tg-theme-button-text-color)
  background: var(--tg-theme-button-color)

  &:disabled
    opacity: 0.5